<div class="container">
  <div class="title">
    <h1>Check a Poker Hand</h1>
  </div>
  <div class="contents">
    <%= form_with  url: "/", method: :post do |f| %>
      <div class="form-group">
        <%= f.text_field :cards, class: "form-control hand-input", size: 30 %>
        <%= f.submit "Check", class: 'btn btn-outline-primary check-btn' %>
      </div>
    <% end %>
    <div class="result">
      <%= @hand.result %>
      <%# <% if @hand.errors.any?  %>
        <%# <% @hand.errors.full_messages_for(:cards).each do |message|  %>
          <%# <span class="error_message"><%= message </span> %>
        <%# <% end %> 
      <%# <% end %> 
    </div>
  </div>
</div>